{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="top-section">
    <div class="container">
        <h1 class="h1 white-text">Рекламно-производственная компания и типография в Нижнем Новгороде OOO "Концепт НН"</h1>
        <p class="description-h1">
            Мы готовы предложить вам лучшие цены без посредников. У нас полный цикл производства — от дизайна до монтажа, гарантийное и послегарантийное обслуживание. 
            <br>Доверьтесь профессионалам!
        </p>
    </div>
</section>   
{% endblock %}